<div id="songs">
  {% if songs %}
      <h4>Now Playing: {{songs[0][1]}}</h4>
      <br>
  {% endif %}
  <div class="row marse">
      <div class="col-md-3 left"><h3>Song</h3></div>
      <div class="col-md-3 left"><h3>Artists</h3></div>
      <div class="col-md-3 left"><h3>Album</h3></div>
      <div class="col-md-3"><h3>Duration</h3></div>
  </div>
  <div style="max-height:500px">
    {% for song in songs %}
        {% set min = (song[-1]/60)|int %}
        {% set min = min|string if min > 9 else '0'+min|string %}
        {% set sec = (song[-1]%60)|int %}
        {% set sec = sec|string if sec > 9 else '0'+sec|string %}
        <div class="row marse">
            <div class="col-md-3 left"><h4>{{song[1]}}</h4></div>
            <div class="col-md-3 left"><h4>{{song[3]}}</h4></div>
            <div class="col-md-3 left"><h4>{{song[2]}}</h4></div>
            <div class="col-md-3"><h4>{{min}}:{{sec}}</h4></div>
        </div>
    {% endfor %}
  </div>
</div>
