<div id="songs">
    {% if songs %}
        <h4>Now Playing: {{songs[0][2]}}</h4>
        <br>
    {% endif %}
    <div class="row marse">
        <div class="col-md-3 left"><h3>Song</h3></div>
        <div class="col-md-3 left"><h3>Artists</h3></div>
        <div class="col-md-3 left"><h3>Album</h3></div>
        <div class="col-md-1"><h3>#</h3></div>
        <div class="col-md-2"><h3>#!</h3></div>
    </div>
    <div style="max-height:500px">
        {% for song in songs %}
            {% set min = (song[6]/60)|int %}
            {% set min = min|string if min > 9 else '0'+min|string %}
            {% set sec = (song[6]%60)|int %}
            {% set sec = sec|string if sec > 9 else '0'+sec|string %}
            <div class="row marse">
                <div class="col-md-3 left"><h4>{{song[2]}}</h4></div>
                <div class="col-md-3 left"><h4>{{song[4]}}</h4></div>
                <div class="col-md-3 left"><h4>{{song[3]}}</h4></div>
                <div class="col-md-1"><h4>{{min}}:{{sec}}</h4></div>
                <div class="col-md-2" sid="{{song[0]}}">
                    <a class="thsn" href="#" sid="+">+ </a>
                    <a class="thsn" href="#" sid="-">- </a>
                    <a class="votes">{{song[7]}}</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script type="text/javascript">
    $('.thsn').on('click', function(){
        var sid = $(this).attr('sid'),
            id = $(this).parents('div').attr('sid'),
            $this = $(this);
        $.ajax({
            url: '/vote',
            type: 'POST',
            dataType: 'json',
            data: {sid: sid, id:id},
        })
        .done(function(data) {
            console.log("success");
            $this.siblings('a.votes').html(data);
        })
        .fail(function(data) {
            console.log("error");
            alert(data.responseText);
        })
        .always(function() {
            console.log("complete");
        });
        return false;
    });
</script>
